extends layout

block content
	div#main
	script(src='/bower_components/jquery/dist/jquery.js')
	script(src='/bower_components/d3/d3.js')
	script(src='/bower_components/three.js/build/three.min.js')
	script(src='/javascripts/pcaplot/pca2dplot.js')
	script(src='/javascripts/pcaplot/pca3dplot.js')
	script(src='/javascripts/index.js')
